# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/
.bloop/
.metals/
.scala-build/
.bsp/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea
*.db

# Input files
input.txt

# vscode
.vscode/

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
